<h2> Welcome to Photos app! </h2>
<h3> Lets get you logged in. </h3>
<form action="login" method="post">
  <fieldset>
  <label>Username: <input type="text" name="username" required value="JohnDoe"></label>
  </fieldset>
  <fieldset>
  <label>Password: <input type="password" name="password" required value="1234567890"></label>
  </fieldset>
  <input type="submit" value="Submit">
</form>
