<h2> Welcome to Photos app! </h2>
<h3> Lets get you signed up. </h3>
<form action="signup" method="post">
  <label>Username: <input type="text" name="username" required value="JohnDoe"></label>
  <br>
  <label>Password: <input type="password" name="password" required value="1234567890"></label>
  <br>
  <label>Name: <input type="text" name="name" required value="John Doe"></label>
  <br>
  <label>Email: <input type="text" name="email" required value="John.doe@email.com"></label>
  <br>
  <label>Phone Number: <input type="text" name="phone" required value="2244433343"></label>
  <br>
  <input type="submit" value="Submit">
</form>
