<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#img_prev')
          .attr('src', e.target.result)
          .width(275)
          .height(375);
      };

      reader.readAsDataURL(input.files[0]);
    }
  }
</script>

<h1>Lets upload a new image!</h1>
<form action="/" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <img id="img_prev" src="#" alt="" />
    <fieldset>
      <input type='file' accept="image/*" name="image" onchange="readURL(this);" />
    </fieldset>
    <input type="submit">
</form>
